
@{
    ViewBag.Title = "EliminarConcierto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Concierto</h2>

<button onclick="ListarConciertos();">Mostrar Conciertos</button>

<br />
<br />

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">ID Banda</th>
            <th scope="col">Concierto</th>
            <th scope="col">Genero</th>
            <th scope="col">Fecha</th>
            <th scope="col">Acciones</th> <!-- nueva columna -->
        </tr>
    </thead>
    <tbody id="listaConciertosTabla">
    </tbody>
</table>


