
@{
    ViewBag.Title = "EliminarConcierto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SearchNav {
    <div class="nav-left" style="color:white;">
        @Html.ActionLink("MyBandTour", "Inicio", "BandTour", new { area = "" }, new { @class = "navbar-brand" })
    </div>
}

<h2>Eliminar Concierto</h2>

<button onclick="ListarConciertos();">Mostrar Conciertos</button>

<br />
<br />

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">ID Concierto</th>
            <th scope="col">Banda</th>
            <th scope="col">Fecha</th>
            <th scope="col">Lugar</th>
            <th scope="col">Acciones</th> <!-- nueva columna -->
        </tr>
    </thead>
    <tbody id="listaConciertosTabla">
    </tbody>
</table>


