@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section SearchNav {
    <div class="nav-left" style="color:white;">
        @Html.ActionLink("MyBandTour", "Inicio", "BandTour", new { area = "" }, new { @class = "navbar-brand" })
        <input type="text" placeholder="Búsqueda por banda o pais" class="search-box" id="txtBuscarConcierto" />
        <button onclick="buscarConciertos();">Buscar</button>
    </div>
}

<h2>Conciertos</h2>

<br />

@if (Session["Authenticate"] != null && (bool)Session["Authenticate"] == true && Session["Username"] != null)
{
    <div class="AdminButtons">
        @Html.ActionLink("Agregar Concierto", "AgregarConcierto", "BandTour", new { area = "" }, new { @class = "btn" })
        @Html.ActionLink("Eliminar Concierto", "EliminarConcierto", "BandTour", new { area = "" }, new { @class = "btn" })
    </div>
}

<br />

<div class="grid-container">
    @* Aquí se insertarán las cartas dinámicamente *@
</div>

@*@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            CargarCartasConciertos();
        });
    </script>
}*@
